.container{
border:1px solid black;
width: 338px;
    height: 200px;
    padding-left: 1px;
    padding-top: 20px;
    background-color: chocolate;
    text-align: center;
    position: relative;
    margin-left: 180px;
    
    margin-top: 131px;
}
.submit{
    position: absolute;
    background-color: green;
    border: none;
    margin-top: 25px;
    margin-left: -24px;
    width: 67px;
    height: 30px;
    cursor:pointer;
    color:white;
}  
/*Bhagyashri dont give pixel for hover;*/
.submit:hover{
    opacity:0.5;
}


