
.main2{
    margin-left: 10px;
    top:10px;
    position:absolute;
}
.main{
    height:400px;
    width:350px;
    border:1px solid black;
    position:relative;
    margin-top: 31px;
    margin-left:211px;
    
}
.lf{
    position:relative;
    top:20px;
    margin-left: 296px;
    font-size:30px;

}
input[type=text], input[type=password]{
box-sizing: border-box;
padding:12px 15px;
width:100%;
margin:8px 0;
/*border:1px solid black;
display:inline-block;*/
}

.btn{
    
    width:100%;
    background-color: #04AA6D;
    padding:14px 20px;
    margin:8px 0;
    border:none;
    cursor:pointer;
    color:white;
    
    
}
.btn:hover{
    opacity:0.8;


}

.footer{
    height:124px;
    background-color: blanchedalmond;
    width:273px;
    
}
.can{
    background-color: red;
    position:absolute;
    border:none;
    top:271px;
    margin-left: 12px;
    color:white;
    height:25px;
    width:51px;
}
.forgotpsd{
    float:right;
    margin-top:37px;
}
.containermain{
    height: 100%;
    width: 100%;
    border:1px solid black;
    position:relative;
}
.sidebar{
    background-color: blueviolet;
    height:100%;
    width:150px;
    position:absolute;
    
}